.mainTitle {
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;   
}

.selectTitle {
    margin: 20px 0px;
    font-size: 26px;
    color: #53C28B;
    font-weight: 500;
}

.items {
    display: flex;
    gap: 50px;
}

.item {
    border: 5px solid #bbb;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.item:hover .title{
    color: #53C28B;
}

.item:nth-child(1) {
    background: url("/assets/SpaGreen.png");
}
.item:nth-child(2) {
    background: url("/assets/websites.jpg");
}
.item:nth-child(3) {
    background: url("/assets/apps.jpg");
}

.title {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}